# This workflow will do a clean installation of node dependencies, build the source code and run tests

name: Node.js build and test

on:
  workflow_dispatch: 
  pull_request:
    branches:
      - "main"
    paths:
      - "testapp/**"
  push:
    branches: ["main"]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout repo 
      uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18.x
    - run: npm install
    - run: npm run build
    - run: npm test
